<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Antonio Jose Serrano Fuentes y Lorenzo Javier Martin Lopez.
</p>

<img src="/images/FOTOAJ.jpg" />
<img src="/images/FOTOLJ.jpg" />

<p>
<a href="https://github.com/AntonioJoseSerrano/quiz_2017"> Repositorio Github </a>
</p>